Repository corda/corda-docs, pull requests merged in 2021-08, with the labels that each got.

#497 DOC-2904: Fixed broken link.
  content/en/docs/corda-enterprise/4.8/cordapps/tutorial-cordapp.md
Labels: bug, documentation, internal

#498 Release tasks for CE 4.4.7
  content/en/docs/corda-enterprise/4.4/legal-info-4.4.7.md
  content/en/docs/corda-enterprise/4.4/release-checksum-enterprise.md
  content/en/docs/corda-enterprise/4.4/release-notes-enterprise.md
Labels: documentation, internal, release patch, team technical writing

#499 DOC-2917: 4.8.1 patch updates
  content/en/docs/corda-enterprise/4.8/node/management-console/index.md
  content/en/docs/corda-enterprise/4.8/node/node-flow-management-console.md
Labels: documentation, team technical writing, internal

#500 DOC-2951 patch release info added 4.5.5 and 4.8.1
  content/en/docs/corda-enterprise/4.5/legal-info-4.5.5.md
  content/en/docs/corda-enterprise/4.5/release-checksum-enterprise.md
  content/en/docs/corda-enterprise/4.5/release-notes-enterprise.md
  content/en/docs/corda-enterprise/4.8/legal-info-4.8.1.md
  content/en/docs/corda-enterprise/4.8/release-checksum-enterprise.md
  content/en/docs/corda-enterprise/4.8/release-notes-enterprise.md
Labels: documentation, team technical writing, internal, release patch

#501 DOC-2951 patch release info updated for 4.5.5 and 4.8.1
  content/en/docs/corda-enterprise/4.4/legal-info-4.4.7.md
  content/en/docs/corda-enterprise/4.5/legal-info-4.5.5.md
  content/en/docs/corda-enterprise/4.8/legal-info-4.8.1.md
  content/en/docs/corda-enterprise/4.8/legal-info.md
Labels: documentation, team technical writing, internal, release patch

#493 DOC-2890 OU field is optional part of x500 name, OS and CE 4.6 - 4.8 fix
  content/en/docs/corda-enterprise/4.6/node/setup/node-naming.md
  content/en/docs/corda-enterprise/4.7/node/setup/node-naming.md
  content/en/docs/corda-enterprise/4.8/node/setup/node-naming.md
  content/en/docs/corda-os/4.6/node-naming.md
  content/en/docs/corda-os/4.7/node-naming.md
  content/en/docs/corda-os/4.8/node-naming.md
Labels: bug, team technical writing, internal

#504 DOC-3039-41 Patch release notes for version 4.6.4
  content/en/docs/corda-enterprise/4.6/legal-info-4.6.4.md
  content/en/docs/corda-enterprise/4.6/release-checksum-enterprise.md
  content/en/docs/corda-enterprise/4.6/release-notes-enterprise.md
Labels: documentation, team technical writing, release patch

#503 DOC-3039-41 Patch Release 4.7.2
  content/en/docs/corda-enterprise/4.7/legal-info-4.7.2.md
  content/en/docs/corda-enterprise/4.7/release-checksum-enterprise.md
  content/en/docs/corda-enterprise/4.7/release-notes-enterprise.md
Labels: documentation, team technical writing, release patch
